#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  height: 200px;
  background-color: lightcoral;
  padding: 1rem;
}

.main {
  background-color: rgb(240, 162, 128);
}

.favoriteSongs {
  background-color: lightcoral;
}

.footer {
  background-color: rgb(24, 5, 5);
}