#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  color: black;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 0.8rem;
}

.btnContainer {
  width: 100px;
  gap: 2rem;
  font-size: 1rem;
  padding: 0.2rem;
}
